package main

import (
	"embed"
	"log"
	"net/http"
	"os"
)

//go:embed {{range .Dirnames}}{{.}} {{end}} 
//go:embed {{range .Filenames}}{{.}} {{end}} 
var siteData embed.FS

func main() {
	listenAddr := "{{.ListenAddr}}"
	if len(os.Getenv("LISTEN_ADDR")) != 0 {
		listenAddr = os.Getenv("LISTEN_ADDR")

	}
	mux := http.NewServeMux()
	staticFileServer := http.FileServer(http.FS(siteData))
	mux.Handle("/", staticFileServer)

	log.Fatal(http.ListenAndServe(listenAddr, mux))
}
